
.clear{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    color: gray;
}
.btn{
    padding: 5px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.addZone{
    background-color: rgb(26, 25, 25);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    height: 330px;
    overflow: auto;
}
ul{
    list-style: none;
    width: 80%;
}
ul li{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
}
ul li button{
    margin: 0 5px;
}
.addTodo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.addTodo input{
    background-color: rgb(7, 7, 7);
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    color: white;
}   

.addTodo .add{
    background-color: rgb(27, 167, 223);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100px;
}
.color{
    background-color: rgb(235, 183, 72);
}

/* Apply text-decoration: line-through to completed tasks */
.completed span {
    text-decoration: line-through;
}
